.discover {
  padding: 30px 0;
  .discover__title {
    font-weight: lighter;
    text-align: left;
    margin: 0;
    padding: 50px 0 0 50px;
  }
  .discover__subtitle {
    text-align: left;
    font-size: 14px;
    margin-top: 0;
    font-weight: bold;
    padding-left: 50px;
  }
}