.list__movie {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  a {
    width: calc(100% / 6);
    min-width: 230px;
    margin: 1rem;
    img {
      width: 100%;
      border-radius: 10px;
    }
    &:hover {
      img {
        box-shadow: 0 14px 40px var(--shadow-dark);
      }
    }
  }
}