.sidebar {
  width: 300px;
  border-right: 1px solid rgba(0, 0, 0, 0.191);
  margin-top: 50px;
  position: relative;
  .logo__page {
    width: 100%;
    text-align: center;
    img {
      max-width: 50%;
      box-shadow: 0 14px 40px var(--shadow-dark);
    }
  }
  .sidebar__genres {
    padding: 50px 15px;
    position: sticky;
    top: -50px;
    .sidebar__genre {
      display: flex;
      justify-content: space-between;
      border-radius: 15px;
      padding: 5px 10px;
      margin: 5px 0;
      text-decoration: none;
      color: var(--color-primary-light);
      font-size: 14px;
      text-align: left;
      border: 1px solid transparent;
      transition: all .5 ease-in;
      &:hover {
        border: 1px solid;
        .arrow {
          opacity: 1;
          animation: chose 1s linear infinite;
        }
        @keyframes chose {
          0% {
            transform: translateX(-10px);
          }
          30% {
            transform: translateX(-15px)
          }
          50% {
            transform: translateX(-10px)
          }
          80% {
            transform: translateX(-5px)
          }
          100% {
            transform: translateX(0)
          }
        }
      }
      .arrow {
        opacity: 0;
      }
    }
    .sidebar__genre.active {
      color: var(--color-text-active);
      border: 1px solid transparent;
      .arrow {
        opacity: 1;
      }
      &:hover {
        border: 1px solid;
      }
    }
  }
  .sidebar__close {
    display: none;
    position: absolute;
    top: 10px;
    right: 10px;
    color: #ffffff;
    font-size: 1.4rem;
  }
  @media screen and (max-width: 1024px) {
    opacity: 0;
    width: 0;
    top: 0;
    left: 0;
    pointer-events: none;
    background: rgb(38, 50, 56);
    margin-top: 0;
    transition: opacity .5s linear, width .6s linear;
    position: fixed;
    .logo__page {
      display: none;
    }
    &.active {
      pointer-events: visible;
      width: 300px;
      margin-top: 0;
      opacity: 1;
      z-index: 1100;
    }
    .sidebar__close {
      display: inline-block;
    }
  }
}

.overlay {
  position: fixed;
  top: 0;
  z-index: -1;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, .3);
  opacity: 0;
  transition: opacity .4s linear;
  &.active {
    opacity: 1;
    z-index: 1000;
  }
}